﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CalendarControl.ascx.cs" Inherits="Aculocity.GAABackOffice.UI.Web.CalendarControl" %>

<asp:TextBox ID="txtDate" runat="server" Width="150px"></asp:TextBox> 
<ajaxToolkit:CalendarExtender ID="ceDate" runat="server" TargetControlID="txtDate" />