﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TwoValuesControl.ascx.cs" Inherits="Aculocity.GAABackOffice.UI.TwoValuesControl" %>
<table border="0" cellpadding="0" cellspacing="3">
    <tr>
        <td>
            <asp:RadioButton ID="rbFirst" runat="server" /> 
        </td>
        <td>
            <asp:RadioButton ID="rbSecond" runat="server" />
        </td>
    </tr>
</table>
<asp:Button ID="btnMain" runat="server" style="display:none"/>
<script type="text/javascript">
function TVC_OnChange() {
     
    document.getElementById('<%=btnMain.ClientID%>').click();
   // <%=Page.ClientScript.GetPostBackEventReference(this, string.Empty)%>
}
</script>

