﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="FB.aspx.cs" Inherits="Aculocity.GAABackOffice.UI.Web.FB" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fgetautoappraise&amp;width=292&amp;connections=10&amp;stream=true&amp;header=true&amp;height=587"
            scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 292px;
            height: 587px;" allowtransparency="true"></iframe>
    </div>
    </form>
</body>
</html>
