﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="GlobalMaster.master.cs"
    Inherits="Aculocity.GAABackOffice.UI.Web.GlobalMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">

    <script type="text/javascript">
        function changeclass(liID) {
            try {
                document.getElementById(liID).className = 'active';
            }
            catch (ex) { }
        }

    </script>

    <title>Auto Appraise - Dealer Back-Office</title>
    <script src="<%# ResolveUrl("~/JScripts/jquery.js") %>" type="text/javascript"></script>
    <script src="<%# ResolveUrl("~/JScripts/jquery.selectBox.min.js") %>" type="text/javascript"></script>
    <script src="<%# ResolveUrl("~/JScripts/jquery.uniform.min.js") %>" type="text/javascript"></script>

    <asp:ContentPlaceHolder ID="Head" runat="server">
    </asp:ContentPlaceHolder>

    <script type="text/javascript">
        window.onerror = function (msg, url, linenumber) {
            //alert('Error message: ' + msg + '\nURL: ' + url + '\nLine Number: ' + linenumber);
            CallServer(msg + '@@@***@@@' + url + '@@@***@@@' + linenumber, 'context');
            return true;
        }
        function ReceiveServerData(arg, context) {
            //alert('Processed callback.');
        }
    </script>

</head>
<body>
    <form id="mainForm" runat="server">
        <div id="container">
            <asp:ScriptManager runat="server" ID="ScriptManager" EnablePartialRendering="true" />
            <div id="header">
                <div class="Logo">
                    <asp:Image ID="Logo" runat="server" ImageUrl="~/Images/tivlogo.png" />
                </div>

                <div class="secnav">
                    <ul>
                        <li><a>
                            <div id="div1" runat="server">
                                <asp:Label ID="lblUsername" runat="server"></asp:Label></div>
                        </a></li>
                        <li runat="server"><a id="lnkLogout" runat="server" onserverclick="lnkLogout_Click">Logout</a></li>
                    </ul>
                </div>

                <div id="divLogin" runat="server">
                    <div id="nav">
                        <div id="nav-menu">
                            <ul>
                                <li id="liDashboard" runat="server"><a id="lnkDashboard" runat="server" onserverclick="lnkDashboard_Click">Dashboard</a></li>
                                <li id="liDA_DealerInfo" runat="server"><a id="lnkDA_DealerInfo" runat="server" onserverclick="lnkDA_DealerInfo_Click">Dealer Information</a></li>
                                <li id="liDA_ValueRange" runat="server"><a id="lnkDA_ValueRange" runat="server" onserverclick="lnkDA_ValueRange_Click">Value Range</a></li>
                                <li id="liDA_ToolCustomization" runat="server"><a id="lnkDA_ToolCustomization" runat="server" onserverclick="lnkDA_ToolCustomization_Click">Tool Customization</a></li>
                                <li id="liDA_FacebookApp" runat="server"><a id="lnkDA_FacebookApp" runat="server" onserverclick="lnkDA_FacebookApp_Click">Facebook App</a></li>
                                <li id="liManageDealers" runat="server"><a id="lnkManageDealers" runat="server" onserverclick="lnkManageDealers_Click">Manage Dealers</a></li>
                                <li id="liAddDealear" runat="server"><a id="lnkAddDealear" runat="server" onserverclick="lnkAddDealear_Click">Add Dealer</a></li>
                                <li id="liLeadsReports" runat="server"><a id="lnkLeadsReports" runat="server" onserverclick="lnkLeadsReports_Click">Lead Reports</a></li>
                                <li id="liBillableDealers" runat="server"><a id="lnkBillableDealers" runat="server" onserverclick="BillableDealers_Click">Billable Dealers</a></li>
                                <li id="liManageUsers" runat="server"><a id="lnkManageUsers" runat="server" onserverclick="lnkManageUsers_Click">Manage Users</a></li>
                                <li id="liManageGroups" runat="server"><a id="lnkManageGroups" runat="server" onserverclick="lnkManageGroups_Click">Manage Groups</a></li>
                                <li id="liManageDealerGroups" runat="server"><a id="lnkManageDealerGroups" runat="server" onserverclick="lnkManageDealerGroups_Click">Manage Dealer Groups</a></li>
                                <li id="liAddVideo" runat="server"><a id="lnkAddVideo" runat="server" onserverclick="lnkAddVideo_Click">Add Video</a></li>
                                <li id="liExceptionLog" runat="server"><a id="lnkExceptionLog" runat="server" onserverclick="lnkExceptionLog_Click">Exception Log</a></li>
                                <li id="liEditDealer" runat="server"><a id="lnkEditDealer" runat="server" onserverclick="lnkEditDealer_Click">Edit Dealer</a></li>
                                <li id="liManageImages" runat="server"><a id="lnkManageImages" runat="server" onserverclick="lnkManageImages_Click">Manage Images</a></li>
                                <li id="liSpecialOfferText" runat="server"><a id="lnkSpecialOfferText" runat="server" onserverclick="lnkSpecialOfferText_Click">Special Offer Text</a></li>
                                <li id="liHeaderText" runat="server"><a id="lnkHeaderText" runat="server" onserverclick="lnkHeaderText_Click">Header Text</a></li>
                                <li id="liDraftDealers" runat="server"><a id="lnkDraftDealers" runat="server" onserverclick="lnkDraftDealers_Click">Draft Dealers</a></li>
                                <li id="liDeactivatedDealers" runat="server"><a id="lnkDeactivatedDealers" runat="server" onserverclick="lnkDeactivatedDealers_Click">Deactivated Dealers</a></li>
                                <li id="liBlacklistedEmails" runat="server"><a id="lnkBlackListedEmails" runat="server" onserverclick="lnkBlackListedEmails_Click">Blacklist Emails</a></li>
                                <li id="liHNIFeeds" runat="server"><a id="lnkHNIFeeds" runat="server" onserverclick="lnkHNIFeeds_Click">HNI Feeds</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="title">
                    <asp:Label class="title" ID="lblTitle" runat="server" Text="Dealer Administration"></asp:Label><br />
                </div>

            </div>
            <div style="width: auto;">
                <asp:UpdatePanel ID="upContent" runat="server">
                    <ContentTemplate>
                        <asp:ContentPlaceHolder ID="PageContent" runat="server">
                        </asp:ContentPlaceHolder>
                        <asp:UpdateProgress ID="UPrgMain" runat="server">
                            <ProgressTemplate>
                                <div class="div_transparentBackground">
                                </div>
                                <div align="center" class="div_updateProgress">
                                    <asp:Image ID="imgProgressImage" runat="server" ImageUrl="~/Images/progress.gif" />
                                    &nbsp;<b>Loading...</b>
                                </div>
                            </ProgressTemplate>
                        </asp:UpdateProgress>
                    </ContentTemplate>
                    <Triggers>
                        <asp:AsyncPostBackTrigger ControlID="lnkManageDealers" />
                        <asp:AsyncPostBackTrigger ControlID="lnkAddDealear" />
                        <asp:AsyncPostBackTrigger ControlID="lnkLeadsReports" />
                        <asp:AsyncPostBackTrigger ControlID="lnkBillableDealers" />
                        <asp:AsyncPostBackTrigger ControlID="lnkManageUsers" />
                        <asp:AsyncPostBackTrigger ControlID="lnkManageGroups" />
                        <asp:AsyncPostBackTrigger ControlID="lnkManageDealerGroups" />
                        <asp:AsyncPostBackTrigger ControlID="lnkAddVideo" />
                        <asp:AsyncPostBackTrigger ControlID="lnkExceptionLog" />
                        <asp:AsyncPostBackTrigger ControlID="lnkEditDealer" />
                        <asp:AsyncPostBackTrigger ControlID="lnkManageImages" />
                        <asp:AsyncPostBackTrigger ControlID="lnkSpecialOfferText" />
                        <asp:AsyncPostBackTrigger ControlID="lnkLogout" />
                        <asp:AsyncPostBackTrigger ControlID="lnkHNIFeeds" />
                        
                    </Triggers>
                </asp:UpdatePanel>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        Sys.WebForms.PageRequestManager.getInstance().add_pageLoaded(afterPageLoad);
        function skinInputs() {
            $(':input[type="radio"],:input[type="checkbox"]').uniform();
            $(':input[type="button"],:input[type="submit"]').not('.tivBtn').uniform();
            $('select:visible').not('[multiple]').selectBox();
        }
        function afterPageLoad() {
            try {
                skinInputs();
            } catch (err) { }
        }
    </script>

</body>
</html>
