﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="HomeNet.master.cs" Inherits="Aculocity.GAABackOffice.UI.Web.HomeNet" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">

    <script type="text/javascript">
        function changeclass(liID) {
            try
            {
                document.getElementById(liID).className = 'active';
            }
            catch(ex){}
      }

    </script>

    <title>Auto Appraise - Dealer Back-Office</title>
    <asp:ContentPlaceHolder ID="Head" runat="server">
    </asp:ContentPlaceHolder>

    <script type="text/javascript">
        window.onerror = function(msg, url, linenumber) {
            //alert('Error message: ' + msg + '\nURL: ' + url + '\nLine Number: ' + linenumber);
            CallServer(msg + '@@@***@@@' + url + '@@@***@@@' + linenumber, 'context');
            return true;
        }
        function ReceiveServerData(arg, context) {
            //alert('Processed callback.');
        }
    </script>

</head>
<body>
    <form id="mainForm" runat="server">
    <div id="container">
        <asp:ScriptManager runat="server" ID="ScriptManager" EnablePartialRendering="true" />
        <div id="header">
          
           
            <div id="divLogin" runat="server">
                <div id="nav">
                    <div id="nav-menu">
                        <ul>
                            <li id="liManageDealers" runat="server"><a id="lnkManageDealers" runat="server" onserverclick="lnkManageDealers_Click">
                                Manage Dealers</a></li>
                            <li id="liAddDealear" runat="server"><a id="lnkAddDealear" runat="server" onserverclick="lnkAddDealear_Click">
                                Add Dealer</a></li>
                            <li id="liLeadsReports" runat="server"><a id="lnkLeadsReports" runat="server" onserverclick="lnkLeadsReports_Click">
                                Leads Reports</a></li>
                            <li id="liBillableDealers" runat="server"><a id="lnkBillableDealers" runat="server"
                                onserverclick="BillableDealers_Click">Billable Dealers</a></li>
                            <li id="liManageUsers" runat="server"><a id="lnkManageUsers" runat="server" onserverclick="lnkManageUsers_Click">
                                Manage Users</a></li>
                            <li id="liManageGroups" runat="server"><a id="lnkManageGroups" runat="server" onserverclick="lnkManageGroups_Click">
                                Manage Groups</a></li>
                            <li id="liManageDealerGroups" runat="server"><a id="lnkManageDealerGroups" runat="server"
                                onserverclick="lnkManageDealerGroups_Click">Manage Dealer Groups</a></li>
                            <li id="liAddVideo" runat="server"><a id="lnkAddVideo" runat="server" onserverclick="lnkAddVideo_Click">
                                Add Video</a></li>
                            <li id="liExceptionLog" runat="server"><a id="lnkExceptionLog" runat="server" onserverclick="lnkExceptionLog_Click">
                                Exception Log</a></li>
                            <li id="liEditDealer" runat="server"><a id="lnkEditDealer" runat="server" onserverclick="lnkEditDealer_Click">
                                Edit Dealer</a></li>
                            <li id="liManageImages" runat="server"><a id="lnkManageImages" runat="server" onserverclick="lnkManageImages_Click">
                                Manage Images</a></li>
                            <li id="liSpecialOfferText" runat="server"><a id="lnkSpecialOfferText" runat="server"
                                onserverclick="lnkSpecialOfferText_Click">Special Offer Text</a></li>
                            <li id="liHeaderText" runat="server"><a id="lnkHeaderText" runat="server" onserverclick="lnkHeaderText_Click">
                                Header Text</a></li>
                            <li id="liLogout" runat="server"><a class="login" id="lnkLogout" runat="server" onserverclick="lnkLogout_Click">
                                Log out</a>
                                <div id="div1" class="userLogin" runat="server">
                                    <asp:Image ID="img" runat="server" ImageUrl="~/Images/user.png" />
                                    <asp:Label ID="lblUsername" runat="server"></asp:Label>
                                </div>
                            </li>
                        </ul>
                    </div>
                 
                </div>
                
            </div>
             <div class="Logo">
                <asp:Image ID="Logo" runat="server" ImageUrl="~/Images/hn_logo.png" />
            
            <div id="title">
                <asp:Label class="title" ID="lblTitle" runat="server" Text="Dealer Administration"></asp:Label></div></div>
        </div>
        <div style="width: auto; ">
            <asp:UpdatePanel ID="upContent" runat="server">
                <ContentTemplate>
                    <asp:ContentPlaceHolder ID="PageContent" runat="server">
                    </asp:ContentPlaceHolder>
                    <asp:UpdateProgress ID="UPrgMain" runat="server">
                        <ProgressTemplate>
                            <div class="div_transparentBackground">
                            </div>
                            <div align="center" class="div_updateProgress">
                                <asp:Image ID="imgProgressImage" runat="server" ImageUrl="~/Images/progress.gif" />
                                &nbsp;<b>Loading...</b>
                            </div>
                        </ProgressTemplate>
                    </asp:UpdateProgress>
                </ContentTemplate>
                <Triggers>
                    <asp:AsyncPostBackTrigger ControlID="lnkManageDealers" />
                    <asp:AsyncPostBackTrigger ControlID="lnkAddDealear" />
                    <asp:AsyncPostBackTrigger ControlID="lnkLeadsReports" />
                    <asp:AsyncPostBackTrigger ControlID="lnkBillableDealers" />
                    <asp:AsyncPostBackTrigger ControlID="lnkManageUsers" />
                    <asp:AsyncPostBackTrigger ControlID="lnkManageGroups" />
                    <asp:AsyncPostBackTrigger ControlID="lnkManageDealerGroups" />
                    <asp:AsyncPostBackTrigger ControlID="lnkAddVideo" />
                    <asp:AsyncPostBackTrigger ControlID="lnkExceptionLog" />
                    <asp:AsyncPostBackTrigger ControlID="lnkEditDealer" />
                    <asp:AsyncPostBackTrigger ControlID="lnkManageImages" />
                    <asp:AsyncPostBackTrigger ControlID="lnkSpecialOfferText" />
                    <asp:AsyncPostBackTrigger ControlID="lnkLogout" />
                </Triggers>
            </asp:UpdatePanel>
        </div>
    </div>
    </form>
</body>
</html>
