﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SSOPortal.aspx.cs" Inherits="Aculocity.GAABackOffice.UI.Web.SSOPortal" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head runat="server">
        <title>SSO Portal</title>
    </head>
    <body>
        <form id="formSSOPortal" runat="server"></form>
    </body>
</html>
