﻿.errorBody
{
	background-color:#f5f4f4;
}
.errorMessage
{
	margin:70px auto;
	padding:0px auto;
	width:50%;
	font-family:Arial;
	font-weight:bold;
	color:gray;
	font-size:13px;
	text-align:center;
	border:dotted 1px #cccccc;
	padding:50px;
	background-color:#ffffff;
	
}
.errorTable
{
	padding:0px auto;
	margin:0px auto;
}