﻿.ControlGroup
{
    width:auto;
    text-align: center;
    margin-top:10px;
    padding: 10px 10px 10px 10px;
    border: dotted 1px #ababab;
    height:100px;
}
.loginTextbox
{ 
    width:150px; margin:1px;
}
.pnlLoginError
{
    text-align: left;
    color: Red;
    background-color: #efefef;
    border: solid 1px gray;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
}
#loginControl td
{
    vertical-align:top;
    text-align:left;
}

