html
{
}

th {
    color: black;
    background-color: silver;
}
td {
}
tr {
    color: #666666;
    background-color: white;
}

b {
    color: black;
}

body
{
	margin: 0px;
	padding: 0px;
	background-color: white;
	font-family: arial;
	font-size: 12px;
	min-width: 1100px;
	max-width: 1200px;
}

#container
{
	margin-left: 30px;
	min-height: 500px;
	min-width: 1100px;
	width:1200px; 
	max-width:1200px; 
    font-weight: bold;
    color: #777777;
}

/****** HEADER ******/
#header
{
    font-weight: bold;
}

#title {
    padding-top: 10px;
}

.title
{
	font-size: 20px;
	font-weight: bold;
    color: #f5831f;
}

.Logo
{
    width: 290px;
    float: left;
    height: 65px;
}

.secnav ul {
    height: 65px;
    float: right;
	list-style: none;
	padding: 0;
	margin: 0;
}

    .secnav ul li {
	    float:left;
        margin: 2px 0px;
        padding: 3px 9px;
        border-left: 2px solid #cccccc;
    }

    .secnav ul li:first-child {
	    float:left;
        margin: 2px 0px;
        padding: 3px 9px;
        border: 0;
    }

        .secnav ul li a div {
            display: inline;
        }

#nav
{
    clear:both;
	width: 100%;
	height: 36px;
}
#nav-menu ul
{
    display: block;
	list-style: none;
	padding: 0;
}
#nav-menu li
{
	float: left;
}

#nav-menu a
{
    border: 1px solid #d7d6d4;
    padding: 9px 12px;
}

#nav-menu li.active a,
#nav-menu li a:hover
{
    /*padding-bottom: 4px;
	border-bottom: 6px solid orange;*/
    background-image: url("../Images/hover-bar.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

#nav-menu li a
{
    background: none;
}

#nav-menu li a.current
{
}

#nav-menu li a:hover
{
}

H1
{
	font-size: 20px;
    color: #f5831f;
}

a, a:link, a:hover, a:active
{
	color: #666666;
	font-size: 12px;
	text-decoration: none;
}

P
{
	font-size: 12px;
	line-height: 16px;
}

.hrBlue
{
	background-color: #11b8d2;
	border: none;
	height: 2px;
}
.BlueLine
{
	color: #11b8d2;
}

.CellLabel
{
	font-weight: bold;
	text-align: left;
	padding-left: 5px;
	font-size: 12px;
}
.div_ValidationSummaryHolder
{
	margin: 5px 20px;
	background: #ffd3d3;
	border: solid 1px #ff1212;
	padding: 5px 10px;
	line-height: 20px;
}
.MandatoryField
{
	/*color: #0000A0;*/
}

.SimpleLabel
{
	font-size: 11px;
}

.div_transparentBackground 
{
	position: fixed;
	top: 0;
	left: 0;
	
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
	
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	
	z-index:1000;
}

.div_updateProgress
{
	background-color:White;
	padding: 10px 20px;
	width: 160px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	bottom: 50%;
	left: 45%;
	border: solid 1px red;
	z-index:1100;
}

.MainStyle
{
	margin: 0px;
	padding: 0px;
	background-color: #ebebeb;
	font-family: arial;
	font-size: 12px;
}

/****** CONTENT ******/

.subMenu
{
	color: Black;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}
.subMenu:hover
{
	color: #11b8d2;
}

/****** FOOTER ******/

#container .ajax__slider_h_handle {
    position: absolute;
    margin-top: -5px;
    height: 30px;
    width: 30px;
    background: url("../Images/slider/slider.png") no-repeat center;
}
#container .ajax__slider_h_handle img {
    display: none;
}
#container .ajax__slider_h_rail {
    background: url("../Images/slider/slider-light.png") no-repeat center;
}
#container .midrange .ajax__slider_h_rail {
    background: url("../Images/slider/slider-medium.png") no-repeat center;
}
#container .highrange .ajax__slider_h_rail {
    background: url("../Images/slider/slider-dark.png") no-repeat center;
}
/*#container .ajax__tab_header {
    display: none;
}*/