﻿#tabs
{
    text-align:left;
	height:30px;
}
#tabs ul
{
	padding: 5px;
	margin: 1px;
	text-align:left;
}
#tabs li {display:inline;}
#tabs li a
{
	cursor: hand; 
	font-weight: bolder; 
    border-style:solid;
    border-width:1px;
    border-color:Black;
    background-color: White; color: Gray;
	padding:5px;
    margin:1px;
}
#tabs li a:active
{
	background-color: #000000;
	color: #ffffff;
}
#tabs li a.selected
{
    background-color: #000000;
	color: #ffffff;
}
#tabs li a:hover
{
	background-color: #000000;
	color: #ffffff;
}