#container .ajax__tab_header {
    padding-top: 4px;
    padding-bottom: 12px;
}

#container .ajax__tab_tab, 
#container  .ajax__tab_tab {
    border: 1px solid #d7d6d4;
    padding: 9px 12px;
    margin: -1px;
    font-size: 12pt;
    font-weight: bold;
}
#container .ajax__tab_tab a,
#container .ajax__tab_tab a {
    border: 1px solid red;
}

#container .ajax__tab_active .ajax__tab_tab, 
#container .ajax__tab_hover  .ajax__tab_tab {

    /*padding-bottom: 4px;
	border-bottom: 6px solid orange;*/
    background-image: url("../Images/hover-bar.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

#container .ajax__tab_tab {
    font-size: 12px;
    color: #666666;
}
